<div class="col-md-6 offset-md-3">
<h3>Create User</h3>
<form [formGroup]="form" (submit) = "onSubmit()" >

  <div class="form-group">
    <label> First Name</label>
    <input type="text" class="form-control" id="firstName" formControlName="firstName" name = "firstName" >
    <div *ngIf="form.controls['firstName'].invalid && form.controls['firstName'].touched" class="error">
      <div *ngIf="form.controls['firstName'].errors?.required">
      Please enter First Name!
    </div>
     <div *ngIf="form.controls['firstName'].errors?.minlength">
       First Name should have atleast 3 characters!
     </div>
     <div *ngIf="form.controls['firstName'].errors?.pattern">
      First Name should have only letters!
    </div>
  </div>
  </div>

  <div class="form-group">
    <label> Last Name</label>
    <input type="text" class="form-control" id="lastName" name="lastName" formControlName="lastName" >
    <div *ngIf="form.controls['lastName'].invalid && form.controls['lastName'].touched" class="error">
      <div *ngIf="form.controls['lastName'].errors?.required">
      Please enter Last Name!
    </div>
    <div *ngIf="form.controls['lastName'].errors?.minlength">
      Last Name should have atleast 3 characters!
    </div>
    <div *ngIf="form.controls['lastName'].errors?.pattern">
     Last Name should have only letters!
   </div>
  </div>
  </div>

  <div class="form-group">
    <label> Email Id</label>
    <input type="text" class="form-control" id="email" name="email" formControlName="email" >
    <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched" class="error">
      <div *ngIf="form.controls['email'].errors?.required">
      Please enter Email Id!
    </div>
    <div *ngIf="form.controls['email'].errors?.email">
      Email Id should be of the form "abc@xyz.com"!
    </div>
  </div>

  </div>

  <button class="btn btn-success" type="submit">Submit</button>
</form>
</div>

